:root {
  --bg-color: #F1F4F9;
  --table-bg-color: #FFFFFF;
  --text: #122945;
  --text-secondary: #5E7793;
  --text-blue: #015EF5;
  --text-green: #00A775;
  --text-background: #DEE4FF;
  --text-black: #2B2D33;
  --text-header: #899CB1;
  --ui-icon: #ADBFDF;
  --ui-secondary: #D8E4FB;
  --ui-accent: #002CFB;
  --ui-red: #EA1A4F;
  --ui-lightred: #FEE9EF;
  --ui-green: #28A879;
  --ui-lightgreen: #DBF8EF;
  --ui-background: #EAF0FA;
  --ui-background-secondary: #D4DFF32B;
  --ui-shadow: #E9EDF3;
}